@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#home {
    margin: 0;
    padding: 0;
    background-color: rgb(109, 139, 176);
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#about_me {
    margin: 0;
    padding: 0;
    background-image: url(images/aboutme_assets/aboutmebg.jpg);
    /*Sets the background image of the about_me page*/
    background-repeat: no-repeat;
    /*Make the image not repeat if not filling entire screen*/
    background-attachment: fixed;
    /*Locks the background image to not scroll with the other content*/
    background-size: cover;
    /*Covers the entire screen with the image*/
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#galleryHome {
    margin: 0;
    padding: 0;
    background-color: rgba(116, 156, 126, 0.827);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

#contact {
    margin: 0;
    padding: 0;
    background-image: url(images/aboutmebg.jpg);
    /*Sets the background image of the contact page *ONLY ABOUT ME IMAGE USED**/
    background-repeat: no-repeat;
    /*Make the image not repeat if not filling entire screen*/
    background-attachment: fixed;
    /*Locks the background image to not scroll with the other content*/
    background-size: cover;
    /*Covers the entire screen with the image*/
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 300;
}

#prints {
    margin: 0;
    padding: 0;
    background-image: url(images/aboutmebg.jpg);
    /*Sets the background image of the prints page *ONLY ABOUT ME IMAGE USED**/
    background-repeat: no-repeat;
    /*Make the image not repeat if not filling entire screen*/
    background-attachment: fixed;
    /*Locks the background image to not scroll with the other content*/
    background-size: cover;
    /*Covers the entire screen with the image*/
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 300;
}

#professional_work {
    margin: 0;
    padding: 0;
    background-image: url(images/aboutmebg.jpg);
    /*Sets the background image of the professional page *ONLY ABOUT ME IMAGE USED**/
    background-repeat: no-repeat;
    /*Make the image not repeat if not filling entire screen*/
    background-attachment: fixed;
    /*Locks the background image to not scroll with the other content*/
    background-size: cover;
    /*Covers the entire screen with the image*/
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 300;
}



/*LOGO USED ON EACH PAGE*/
.logo {
    height: 75px;
    width: 75px;
    display: inline-block;
    background: rgba(149, 213, 245, 0.667);
    /*Set background color to make it stand out from header*/
    border-radius: 50px;
}


/*HEADER CONTAINER FOR NAV BAR AND LOGO*/
.container {
    display: block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}


/*WEBSITE HEADER SHARED WITH EACH PAGE*/
.header {
    background-image: url(images/homepage_header.jpg);
    /*Sets the background of the header*/
    background-size: cover;
    /*Covers the entire area with the image*/
    height: 200px;
    width: 100%;
    /*Fill left to right of entire page*/
    height: 300;
    background-repeat: no-repeat;
}


/*Display fix I found online. Header was not showing up, this forces an element to self-clear*/
/*https://css-tricks.com/snippets/css/clear-fix/*/
header::after {
    content: '';
    display: table;
    clear: both;
}


/*HEADER TEXT*/
h1 {
    background-color: rbga(65, 245, 227, 0.8);
}


/*NAV BAR THAT IS SHARED ON EACH PAGE*/
.nav {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 12px;
    position: relative;
}


/*UNORDERED LIST THAT HOLDS EACH LIST ITEM*/
nav ul {
    display: inline-block;
    /*CENTERS NAV BAR*/
    list-style: none;
    height: 100%;
    padding: 0px;
    width: 70%;
    background: rgba(143, 223, 245, 0.689);
    border-radius: 25px;
    border: 2px solid rgba(76, 75, 75, 0.45);
}


/*LIST ITEMS IN UNORDERED LIST*/
nav li {
    overflow: hidden;
    text-overflow: ellipsis;
    /*Gives an ellipsis is the text is too large for container*/
    word-wrap: break-word;
    line-height: 1em;
    /*Limits the line height to make list closer together verticly*/
    max-height: 4em;
    display: inline-block;
    /*each list item goes left and right of each other*/
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
    /*Give padding and space between each item*/
    border-bottom: 1px solid #555;
    position: relative;
    /*Makes the nav bar rezise relative to the parent container*/
}


/*TEXT STYLING FOR NAV BAR*/
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}


/*WHEN HOVERING OVER TEXT IN NAV BAR*/
nav a:hover {
    color: #000;
}


/*BAR ABOVE TEXT I LEARNED FROM VIDEO*/
/*https://youtu.be/FEmysQARWFU?si=hNYad_iO7uIF07ZO*/
nav a:before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%
}

/*BAR ABOVE TEXT I LEARNED FROM VIDEO*/
/*https://youtu.be/FEmysQARWFU?si=hNYad_iO7uIF07ZO*/
nav a:hover::before {
    width: 100%;
}


/*NAV BAR FOR GALLERY SELECTION*/
.genre-nav {
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 12px;
    position: relative;
}


/*UNORDERED LIST THAT HOLDS EACH LIST ITEM*/
.genre-nav ul {
    display: inline-block;
    list-style: none;
    height: 100%;
    background: rgba(78, 145, 74, 0.817);
    border-radius: 25px;
    border: 2px solid rgba(76, 75, 75, 0.45);
}


/*LIST ITEMS IN UNORDERED LIST*/
.genre-nav li {
    text-align: center;
    overflow: hidden;
    line-height: 2em;
    display: inline-block;
    margin-right: 5%;
    padding-top: 5px;
    border-bottom: 1px solid #555;
    position: relative;
}


/*TEXT STYLING FOR NAV BAR*/
.genre-nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}


/*WHEN HOVERING OVER TEXT IN NAV BAR*/
.genre-nav a:hover {
    color: #43e6d8;
}


/*BAR ABOVE TEXT I LEARNED FROM VIDEO*/
/*https://youtu.be/FEmysQARWFU?si=hNYad_iO7uIF07ZO*/
.genre-nav a:before {
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #58d6ef;

    position: absolute;
    top: 0;
    width: 0%
}


/*BAR ABOVE TEXT I LEARNED FROM VIDEO*/
/*https://youtu.be/FEmysQARWFU?si=hNYad_iO7uIF07ZO*/
.genre-nav a:hover::before {
    width: 100%;
}


/*ENTIRE CONTAINER HOLDING GALLERY NAV*/
.genre-nav-bar {
    display: inline-block;
    /*Centers nav bar*/
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



/*THIS IS THE MAIN GALLERY, SHOWCASING ALL PHOTOS AND GENRES*/

/*THIS IS THE MAIN CONTAINER THE GALLERY AND HEADER SITS IN*/
.galleryContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    /*This makes the container a flex layout, meaning resizing will behave predictably*/
    flex-direction: column;
    /*This puts the content in columns which puts header above the pictures*/
    justify-content: center;
    /*Content will be in the center of the container*/
    align-items: center;
    text-align: center;
    margin: 0px 0px 0px;
}

/*THIS IS THE POSITION OF THE HEADER IN THE GALLERY*/
.galleryHeading {
    width: 100%;
    padding-bottom: 0px;
    text-align: center;

}

/*THIS IS THE HEADER TEXT OF THE GALLERY*/
.galleryHeading h3 {
    font-size: 3em;
    font-weight: bolder;
    list-style: none;
    border-bottom: 3px solid #000;
    /*Border around text*/
    padding-bottom: 3px solid #222;
}

/*TEXT TWO COLORS USING SPAN TAGS*/
.galleryHeading h3 span {
    font-weight: 100;
}

/*CONTAINER WHICH HOLDS THE PICTURE COLUMNS*/
.galleryContainer .galleryBox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px
}

.galleryContainer .galleryBox img {
    width: 100%;
    border-radius: 8px;
    max-width: 100%;
}


/*THIS IS THE HOMEPAGE GALLERY, SHOWCASING PHOTOS ON THE HOMEPAGE*/

/*THIS IS THE MAIN CONTAINER THE GALLERY AND HEADER SITS IN*/
.hp_galleryContainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    /*This makes the container a flex layout, meaning resizing will behave predictably*/
    flex-direction: column;
    /*This puts the content in columns which puts header above the pictures*/
    align-items: center;
    text-align: center;
    margin: 20px 0px 60px;
    /*padding: 50px 8%;*/
}

/*THIS IS THE POSITION OF THE HEADER IN THE GALLERY*/
.hp_galleryHeading {
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

/*THIS IS THE HEADER TEXT OF THE GALLERY*/
.hp_galleryHeading h2 {
    font-size: 2em;
    font-weight: bolder;
    list-style: none;
    /*Remove link*/
    border-bottom: 3px solid #000;
    /*Border around text*/
    padding-bottom: 3px solid #222;
}

/*TEXT TWO COLORS USING SPAN TAGS*/
.hp_galleryHeading h2 span {
    /*Reduce font weight to make text pop*/
    font-weight: 100;

}

/*CONTAINER WHICH HOLDS THE PICTURE COLUMNS*/
.hp_galleryContainer .hp_galleryBox {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 10fr));
    grid-gap: 10px
}

/*ALL IMAGES WITHING THE COLUMNS*/
.hp_galleryContainer .hp_galleryBox img {
    width: 100%;
    border-radius: 8px;
}



/*FOOTER OF THE WEBSITE, SHARED ON EACH PAGE*/
.footer {
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    /*Makes the footer stick to bottom of screen*/
    width: 100%;
    background-color: rgba(119, 196, 244, 0.53);
}

/*FOOTER TEXT*/
.footer h1 {
    font-size: 2em;
    font-weight: 100;
}

/*FOOTER IMG, LOGO*/
.footer img {
    float: left;
    /*Push to left side of footer*/
    padding-right: 10 px;
    padding-top: 5px;
}




.aboutme .row p {
    background-color: rgba(227, 235, 239, 0.656);
    padding-left: 100px;
    padding-right: 100px;
}

.aboutme {
    display: block;
    text-align: center;
    width: 100%;
}


.comingsoon {
    display: block;
    text-align: center;
    width: 100%;
}

.comingsoon h2 {
    background-color: rgba(175, 229, 236, 0.513);
    text-align: center;
    font-size: 3em;
    font-weight: 100;
}

.comingsoon h2 span {
    font-weight: 300;
}

@media screen and (max-width: 770px) {
    .footer {
        position: relative;
    }
}
