@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#home{
    margin:0;
    padding:0;
    background-color:rgb(109, 139, 176);
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    font-weight: 300;
}
#about_me{
    margin:0;
    padding:0;
    background-image: url(images/aboutmebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins",Arial, Helvetica, sans-serif;
    font-weight: 300;
}
#galleryHome{
    margin:0;
    padding:0;
    background-color:rgba(116, 156, 126, 0.827);
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

#contact{
    margin:0;
    padding:0;
    background-image: url(images/aboutmebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 300;
}
#prints{
    margin:0;
    padding:0;
    background-image: url(images/aboutmebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins", Helvetica, sans-serif;
    font-weight: 300;
}
#professional_work{
    margin:0;
    padding:0;
    background-image: url(images/aboutmebg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 300;
}



.logo
{
    height: 75px;
    width: 75px;
    display: inline-block;
    background: rgba(149, 213, 245, 0.667);
    border-radius: 50px;
}



.container
{
    display: block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}



.header
{
    background-image: url(images/homepage_header.jpg);
    background-size: cover;
    height:200px;
}



header
{
    width: 100%;
    height: 300;

    background-repeat: no-repeat;
}



header::after 
{
    content: '';
    display:table;
    clear:both;
}



h1
{
    background-color: rbga(65,245,227, 0.8);
}



.nav
{
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 12px;
    position: relative;
}



nav ul
{
    display: inline-block;
    list-style: none;
    height: 100%;
    width: 70%;
    background: rgba(143, 223, 245, 0.689);
    border-radius: 25px;
    border: 2px solid rgba(76, 75, 75, 0.45);
}



nav li 
{
 overflow: hidden;
 text-overflow: ellipsis;
 word-wrap: break-word;
 line-height: 1em;
 max-height: 4em;
 display: inline-block;
 margin-left: 5%;
 margin-right: 5%;
 padding-top: 5px;
 padding-bottom: 5px;
 border-bottom: 1px solid #555;
 position: relative;
}



nav a 
{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}



nav a:hover 
{
    color: #000;
}



nav a:before
{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%

}



nav a:hover::before
{
    width: 100%;
}



article
{
    display:grid;
    align-content: center;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
}



.genre-nav
{
    display: inline-block;
    padding: 0 25px 0 25px;
    font-size: 12px;
    position: relative;
}



.genre-nav ul
{
    display: inline-block;
    list-style: none;
    height: 100%;
    background: rgba(78, 145, 74, 0.817);
    border-radius: 25px;
    border: 2px solid rgba(76, 75, 75, 0.45);
}



.genre-nav li
{
 text-align: center;
 overflow: hidden;
 line-height: 2em;
 display: inline-block;
 margin-right: 5%;
 padding-top: 5px;
 border-bottom: 1px solid #555;
 position: relative;
}



.genre-nav a 
{
    color: #444;
    text-decoration: none;
    text-transform: uppercase;
}



.genre-nav a:hover 
{
    color: #43e6d8;
}



.genre-nav a:before
{
    content: '';
    display: block;
    height: 5px;
    width: 100%;
    background-color: #58d6ef;

    position: absolute;
    top: 0;
    width: 0%

}



.genre-nav a:hover::before
{
    width: 100%;
}

.genre-nav-bar{
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
}





.galleryContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 20px 0px 20px;
}

.galleryContainer .galleryHeading{
    width: 50%;
    padding-bottom: 0px;
}

.galleryContainer .galleryHeading h3{
    font-size: 3em;
    font-weight: bolder;
    list-style: none;
    border-bottom: 3px solid #000;
    padding-bottom: 3px solid #222;
}

.galleryContainer .galleryHeading h3 span{
    font-weight: 100;
}

.galleryContainer .galleryBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.galleryContainer .galleryBox .gallery{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.galleryContainer .galleryBox .gallery img{
    width: 100%;
    padding-bottom: 5px;
    border-radius: 8px;
}




 .hp_galleryContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 20px 0px 20px;
}

.hp_galleryContainer .hp_galleryHeading{
    width: 50%;
    padding-bottom: 0px;
}

.hp_galleryContainer .hp_galleryHeading h2{
    font-size: 2em;
    font-weight: bolder;
    list-style: none;
    border-bottom: 3px solid #000;
    padding-bottom: 3px solid #222;
}

.hp_galleryContainer .hp_galleryHeading h2 span{
    font-weight: 100;
}

.hp_galleryContainer .hp_galleryBox{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hp_galleryContainer .hp_galleryBox .hp_gallery{
    display: flex;
    flex-direction: column;
    width: 25%;
}

.hp_galleryContainer .hp_galleryBox .hp_gallery img{
    width: 100%;
    height:550px;
}

.footer{
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(119, 196, 244, 0.53);
}

.footer h1{
    font-size: 2em;
    font-weight: 100;
}

.footer img{
    float: left;
    padding-right: 10 px;
    padding-top: 5px;
}


.aboutme .row p{
    background-color: rgba(227, 235, 239, 0.656);
    padding-left:100px;
    padding-right: 100px;
}

.aboutme{
    display: block;
    text-align: center;
    width: 100%;
}

.comingsoon{
    display: block;
    text-align: center;
    width: 100%;
}

.comingsoon h2{
    background-color: rgba(175, 229, 236, 0.513);
    text-align: center;
    font-size: 3em;
    font-weight: 100; 
}
.comingsoon h2 span{
    font-weight: 300;
}
